body {
  text-align: center;
  margin: 0;
}

header {
  background-color: #F15B31;
  padding: 30px 20px;
}

nav {
  background-color: #00A6B3;
  padding: 20px 0 20px 0;
}

main {
  width: 850px;
  margin: 35px auto;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #0D2C40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}


a {
  font-family: "Raleway", sans-serif;
  /*color: #F15B31;*/
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  border: 2px solid white;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
  margin-bottom: 30px;
}

button {
  text-decoration: none;
  border: 2px solid transparent;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  margin: 0 10px 20px 0;
  width: 180px;
  text-transform: uppercase;
  border-radius: 5px;
}


i {
  color: #F15B31;
  size: 80%;
}

img {
  margin: 40px 8px 0 8px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  color: #0D2C40;
  margin-bottom: 20px;
}

ol {
  font-family: "Droid Serif", serif;
  line-height: 24px;
  font-size: 14px;
  margin: 0 auto 30px;
}

footer {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding: 0 20px 0 20px;
  background-color: #0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

.social{
  background-color: #00A6B3;
  padding: 10px 0;
}

.copyright {float: left;}
.message{float: right;}
.name{
  color: #F15B31;
  font-weight: 700;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}


.emphasis {
  color: #F15B31;
}

.contain {
  max-width: 450px;
  margin: 0 auto;
}

#score {
  background-color: #00A6B3;
  color: white;
}

#reset {
  background-color: #F15B31;
  color: white;
}

#reset:hover {
  border: 2px solid #F15B31;
  background: white;
  color: #F15B31;
}

#message {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  display: block;
  width: 300px;
  height: 28px;
  color: #F15B31;
  text-decoration: none;
  border: 2px solid transparent;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 28px;
  margin: 0 auto;
  text-transform: uppercase;
}
